<style>        
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
    .autocomplete-items {
        position: absolute;
        top: 110%;
        /*positions the autocomplete items to be the same width as the container:*/
        left: 15px;
        right: 15px;
        max-height: 300px;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        overflow-x: hidden;
    }
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
    }

    #item-2, #item-3, #item-4 {
        display: none;
        animation: fadeIn 0.5s;
    }
</style>

<form method="post" novalidate autocomplete="off" class="mb-5">
    <div class="container py-5">
        {% csrf_token %}
        <!-- <div class="col-1 fs-6 fw-bold mb-2 ">Ship To:</div>
            <div class="col-11 form-check">
                <input class="form-check-input" type="checkbox" name="same" checked id="same" onchange="addressFunction()" value="">
                <label class="form-check-label" for="same">
                    Same as Billing
                </label>
            </div>
        <div class="row mb-2">
            {% for form in sales_form.visible_fields %}
                <div class="col-sm-6 col-lg-3 mb-3">
                    {{form.label_tag}}
                    {{form}} {{form.errors|striptags}}
                </div>
            {% endfor %}
            {% for form in sales_form.hidden_fields %}
                {{form}}
            {% endfor %}
        </div> -->

        {{sales_form.created_at}}
        <!-- REFERENCES -->
        <div class="row row-cols-4 mb-4">
            <div class="col-12 fs-5 fw-bold">REFERENCES</div>
            <div class="col-12 m-0"><hr class=""></div>

            <div class="col mb-2">
                {{sales_form.mode.label_tag}}
                {{sales_form.mode}} {{sales_form.mode.errors}}
            </div>
            
            <div class="col mb-2">
                {{sales_form.date.label_tag}}
                {{sales_form.date}} {{sales_form.date.errors}}
            </div>
        
            <div class="col mb-2">
                {{sales_form.order_id.label_tag}}
                {{sales_form.order_id}} {{sales_form.order_id.errors}}
            </div>
        
            <div class="col mb-2">
                {{sales_form.invoice_id.label_tag}}
                {{sales_form.invoice_id}} {{sales_form.invoice_id.errors}}
            </div>
            
            <div class="col mb-2">
                {{sales_form.referrer.label_tag}}
                {{sales_form.referrer}}
                {{sales_form.referrer.errors}}
                <script>//modifying referrer input
                    var referrer = document.getElementById("id_referrer")
                    referrer.classList.add("form-select", "form-select-sm") //referrer.className += " form-select form-select-sm";
                    referrer.setAttribute("onchange", "form_validate()")
                </script>
            </div>

            <div class="col mb-2">
                {{sales_form.promise.label_tag}}
                {{sales_form.promise}} {{sales_form.promise.errors}}
                <script>//modifying promise input
                    promise = document.getElementById("id_promise")
                    promise.classList.add("form-control", "form-control-sm")
                    promise.setAttribute("min","1")
                    promise.setAttribute("max","30")
                </script>
            </div>
        </div>
        
        <!-- BILL TO DETAILS -->
        <div class="row mb-4">
            <div class="col-12 fs-5 fw-bold">CLIENT</div>
            <div class="col-12"><hr class=""></div>
            <div class="col-12 fs-6 fw-bold mb-2 ">Bill To:</div>

            <div class="row col-8 m-0 p-0">
                <div class="col-sm-6 col-lg-6 mb-2 position-relative">
                    {{sales_form.company.label_tag}}
                    <!--<div class="input-group input-group-sm">-->
                        <input type="text" name="company" value="{{sales_form.company.value|default:''}}" class="form-control form-control-sm" oninput="loadDoc()" onchange="loadDoc()" id="id_company" required>
                        <!--<span class="btn btn-outli-secondary" type="submit" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>-->
                    <!--</div>-->
                    {{sales_form.company.errors}}
                </div>

                <div class="col-sm-6 col-lg-3 mb-2">
                    {{sales_form.name.label_tag}}
                    <input type="text" name="name" value="{{sales_form.name.value|default:''}}" class="form-control form-control-sm" required id="id_name"> 
                    {{sales_form.name.errors}}
                </div>

                <div class="col-sm-6 col-lg-3 mb-2">
                    {{sales_form.phone.label_tag}}
                    <input type="text" name="phone" value="{{sales_form.phone.value|default:''}}" class="form-control form-control-sm" required id="id_phone"> 
                    {{sales_form.phone.errors}}
                </div>

                <div class="col-sm-6 col-lg-6 mb-2">
                    {{sales_form.email.label_tag}}
                    <input type="email" name="email" value="{{sales_form.email.value|default:''}}" class="form-control form-control-sm" required id="id_email">
                    {{sales_form.email.errors}}
                </div>

                <div class="col-sm-6 col-lg-6 mb-2">
                    {{sales_form.gstin.label_tag}}
                    <input type="text" name="gstin" value="{{sales_form.gstin.value|default:''}}" class="form-control form-control-sm" required id="id_gstin">
                    {{sales_form.gstin.errors}}
                </div>
            </div>
            <div class="row col-4">
                <div class="col-12 mb-2">
                    {{sales_form.address.label_tag}}
                    <textarea rows="4" name="address" class="form-control form-control-sm" required id="id_address">{{sales_form.address.value|default:''}}</textarea>
                    {{sales_form.address.errors}}
                </div>
            </div>
        </div>

        <!--SHIP TO DETAILS-->
        <div class="row mb-4">
            <div class="col-1 fs-6 fw-bold mb-2 ">Ship To:</div>
            <div class="col-11 form-check">
                <input {% if edit %}{% if sales_form.companys.value == "" %}checked{% else %}{% endif %}{% else %}checked{% endif %} class="form-check-input" type="checkbox" name="same" id="same" onchange="addressFunction()">
                <label class="form-check-label" for="same">
                    Same as Billing
                </label>
            </div>
            
            
            <div class="row col-9">
                <div class="col-sm-6 col-lg-6 mb-2">
                    {{sales_form.companys.label_tag}}
                    <input type="text" name="companys" value="{{sales_form.companys.value|default:''}}" class="form-control form-control-sm" oninput="loadDoc()" onchange="loadDoc()" id="id_companys">
                    {{sales_form.companys.errors}}
                </div>

                <div class="col-sm-6 col-lg-3 mb-2">
                    {{sales_form.names.label_tag}}
                    <input type="text" name="names" value="{{sales_form.names.value|default:''}}" class="form-control form-control-sm" required id="id_names"> 
                    {{sales_form.names.errors}}
                </div>

                <div class="col-sm-6 col-lg-3 mb-2">
                    {{sales_form.phones.label_tag}}
                    <input type="text" name="phones" value="{{sales_form.phones.value|default:''}}" class="form-control form-control-sm" required id="id_phones"> 
                </div>

                <div class="col-sm-6 col-lg-6 mb-2">
                    {{sales_form.emails.label_tag}}
                    <input type="email" name="emails" value="{{sales_form.emails.value|default:''}}" class="form-control form-control-sm" id="id_emails">
                    {{sales_form.emails.errors}}
                </div>

                <div class="col-sm-6 col-lg-6 mb-2">
                    {{sales_form.gstins.label_tag}}
                    <input type="text" name="gstins" value="{{sales_form.gstins.value|default:''}}" class="form-control form-control-sm" required id="id_gstins">
                    {{sales_form.gstins.errors}}
                </div>
            </div>
            <div class="col-3">
                <div class="col-12 mb-2">
                    {{sales_form.addresss.label_tag}}
                    <textarea rows="4" name="addresss" class="form-control form-control-sm" required id="id_addresss">{{sales_form.addresss.value|default:''}}</textarea>
                    {{sales_form.addresss.errors}}
                </div>
            </div>
        </div>

        <!-- PRODUCT / ITEM -->
        <div id="item" class="row mb-3">
            <div class="col-12 fs-5 fw-bold">ITEM</div>
            <div class="col-12"><hr class=""></div>

            <div class="col-sm-6 col-lg-3 mb-2 position-relative">
                {{sales_form.item_1.label_tag}}
                {{sales_form.item_1}} {{sales_form.item_1.errors}}
                <datalist id="item_list">
                    {% for item in items %}
                        <option>{{item.moc|upper}} {{item.name|upper}}</option>
                    {% endfor %}
                </datalist>
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.desc_1.label_tag}}
                {{sales_form.desc_1}} {{sales_form.desc_1.errors}}
            </div>

            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.qty_1.label_tag}}
                {{sales_form.qty_1}} {{sales_form.qty_1.errors}}
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.rate_1.label_tag}}
                {{sales_form.rate_1}} {{sales_form.rate_1.errors}}
            </div>

        </div>
        <div id="item-2" class="row mb-3">
            <div class="col-12 fs-5 fw-bold">ITEM 2</div>
            <div class="col-12"><hr class=""></div>

            <div class="col-sm-6 col-lg-3 mb-2 position-relative">
                {{sales_form.item_2.label_tag}}
                {{sales_form.item_2}} {{sales_form.item_2.errors}}
                <datalist id="item_list">
                    {% for item in items %}
                        <option>{{item.moc|upper}} {{item.name|upper}}</option>
                    {% endfor %}
                </datalist>
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.desc_2.label_tag}}
                {{sales_form.desc_2}} {{sales_form.desc_2.errors}}
            </div>

            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.qty_2.label_tag}}
                {{sales_form.qty_2}} {{sales_form.qty_2.errors}}
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.rate_2.label_tag}}
                {{sales_form.rate_2}} {{sales_form.rate_2.errors}}
            </div>

        </div>
        <div id="item-3" class="row mb-2">
            <div class="col-12 fs-5 fw-bold">ITEM 3</div>
            <div class="col-12"><hr class=""></div>

            <div class="col-sm-6 col-lg-3 mb-2 position-relative">
                {{sales_form.item_3.label_tag}}
                {{sales_form.item_3}} {{sales_form.item_3.errors}}
                <datalist id="item_list">
                    {% for item in items %}
                        <option>{{item.moc|upper}} {{item.name|upper}}</option>
                    {% endfor %}
                </datalist>
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.desc_3.label_tag}}
                {{sales_form.desc_3}} {{sales_form.desc_3.errors}}
            </div>

            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.qty_3.label_tag}}
                {{sales_form.qty_3}} {{sales_form.qty_3.errors}}
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.rate_3.label_tag}}
                {{sales_form.rate_3}} {{sales_form.rate_3.errors}}
            </div>

        </div>
        <div id="item-4" class="row mb-2">
            <div class="col-12 fs-5 fw-bold">ITEM 4</div>
            <div class="col-12"><hr class=""></div>

            <div class="col-sm-6 col-lg-3 mb-2 position-relative">
                {{sales_form.item_4.label_tag}}
                {{sales_form.item_4}} {{sales_form.item_4.errors}}
                <datalist id="item_list">
                    {% for item in items %}
                        <option>{{item.moc|upper}} {{item.name|upper}}</option>
                    {% endfor %}
                </datalist>
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.desc_4.label_tag}}
                {{sales_form.desc_4}} {{sales_form.desc_4.errors}}
            </div>

            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.qty_4.label_tag}}
                {{sales_form.qty_4}} {{sales_form.qty_4.errors}}
            </div>
        
            <div class="col-sm-6 col-lg-3 mb-2">
                {{sales_form.rate_4.label_tag}}
                {{sales_form.rate_4}} {{sales_form.rate_4.errors}}
            </div>

        </div>

        <div id="plus_btn" class="col-3 mb-4">
            <a onclick="addItem()" class="btn btn-secondary">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>

        <hr>
        <div class="d-flex justify-content-between">
            <div>
                <div class="mb-2">
                    Total:
                </div>
                <div class="mb-2">
                    Freight:
                </div>
                <div class="mb-2">
                    GST:
                </div>
                <div class="fw-bold">
                    Grand Total:
                </div>
            </div>
            <div class="text-end">
                <div class="mb-2">
                    00.00
                </div>
                <div class="mb-2">
                    NA
                </div>
                <div class="mb-2">
                    <select class="form-select form-select-sm" id="gst" onchange="gr_total()">
                        <option value="1.6">6%</option>
                        <option value="1.12">12%</option>
                        <option value="1.18" selected>18%</option>
                    </select>
                </div>
                <div>
                    <div id="id_grandd_total">{{sales_form.grand_total.value|default:"0.00"}}</div>
                </div>
            </div>
        </div>
        <input type="hidden" name="grand_total" value="{{sales_form.grand_total.value|default:'0'}}" required id="id_grand_total">

        <hr class="mb-4">
        
        <div class="col-12 mb-2">
            {{sales_form.note.label_tag}}
            <textarea rows="3" name="note" class="form-control form-control-sm" required id="id_note">{{sales_form.note.value}}</textarea>
            {{sales_form.note.errors}}
        </div>
        
        <div class="col-sm-6 col-lg-3 mb-2 form-check">
            <input class="form-check-input" type="checkbox" name="despatched" value="true" id="finalcheck" onchange="finalCheck()" {% if sales_form.despatched.value %}checked{% endif %}>
            <label class="form-check-label" for="despatchedcheck">
            Despatched
            </label>    
        </div>
        
        <div class="col-sm-6 col-lg-3 mb-2 form-check">
            <input class="form-check-input" type="checkbox" name="payments" value="true" {% if sales_form.payments.value %}checked{% endif %} id="id_payments">
            <label class="form-check-label" for="id_payments">
            Payments
            </label>
        </div>

        <div class="col-sm-6 col-lg-3 mb-2 form-check">
            <input class="form-check-input" type="checkbox" name="settled" value="true" {% if sales_form.settled.value %}checked{% endif %} id="id_settle">
            <label class="form-check-label">
            Settled
            </label>
        </div>

        <hr>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Submit</button>
            {% if edit %}<button type="submit" class="btn btn-danger" name="delete" value="yes">Delete</button>{% endif %}
        </div>
    </div>
</form>

<script>
    window.addEventListener("load", form_validate());
    function form_validate() {
        //settle
        var refer = document.getElementById("id_referrer")
        var settlec = document.getElementById("id_settle")
        if (refer.value == "25") {
            settlec.setAttribute("disabled", "");
        } else if (refer.value == "3") {
            settlec.checked = true;
            settlec.setAttribute("readonly", "");
        } else if (refer.value == "24") {
            settlec.checked = true;
            settlec.setAttribute("readonly", "");
        } else {
            settlec.checked = false;
            settlec.removeAttribute("readonly")
            settlec.removeAttribute("disabled")
        }
        console.log("referrer selected")
    }
</script>

<script>//modifying item input
    var qty_1 = document.getElementById("id_qty_1");
    qty_1.setAttribute("onchange", "gr_total()");
    var rate_1 = document.getElementById("id_rate_1");
    rate_1.setAttribute("onchange", "gr_total()");

    var qty_2 = document.getElementById("id_qty_2");
    qty_2.setAttribute("onchange", "gr_total()");
    var rate_2 = document.getElementById("id_rate_2");
    rate_2.setAttribute("onchange", "gr_total()");

    var qty_3 = document.getElementById("id_qty_3");
    qty_3.setAttribute("onchange", "gr_total()");
    var rate_3 = document.getElementById("id_rate_3");
    rate_3.setAttribute("onchange", "gr_total()");

    var qty_4 = document.getElementById("id_qty_4");
    qty_4.setAttribute("onchange", "gr_total()");
    var rate_4 = document.getElementById("id_rate_4");
    rate_4.setAttribute("onchange", "gr_total()");
</script>

<script>//modifying grand_total
    var gst_ele = document.getElementById("gst");
    var grandd_total = document.getElementById("id_grandd_total");
    var grand_total_inp = document.getElementById("id_grand_total");
    function gr_total() {
        let gr_sum = rate_1.value*qty_1.value + rate_2.value*qty_2.value;
        let gstrate = gst_ele.value;
        grandd_total.innerText = gr_sum*gstrate;
        grand_total_inp.value = gr_sum*gstrate;
    };
</script>

<script>//Modify Elements
    //var total = document.getElementById("id_qty_1").value * document.getElementById("id_rate_1").value
    //document.getElementById("total").innerHTML = total;

    //disable the textarea resizing for all textareas
    var textarea = document.getElementsByTagName("textarea")
    for (let x in textarea) {
        textarea[x].style.resize = "none";
    };
</script>

<!-- AUTO COMPLETE SCRIPT -->
<script>
    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }

    /*An array containing all the country names in the world:*/
    var company = JSON.parse("{{company|escapejs}}");
    var items = JSON.parse("{{items|escapejs}}");
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("id_company"), company);
    autocomplete(document.getElementById("id_item_1"), items);
    autocomplete(document.getElementById("id_item_2"), items);
    autocomplete(document.getElementById("id_item_3"), items);
    autocomplete(document.getElementById("id_item_4"), items);
    autocomplete(document.getElementById("id_item_5"), items);
</script>

<script>//ship to same as bill to
    if (document.getElementById("same").checked) {
        document.getElementById("same").value = "yes"
    }

    function addressFunction() {
        id_phone = document.getElementById("id_phone")
        id_phones = document.getElementById("id_phones")
        if (document.getElementById("same").checked) {
            id_phones.value = id_phone.value;
            id_phones.setAttribute("readonly","")
            
            document.getElementById("id_names").value =
            document.getElementById("id_name").value;
            
            document.getElementById("id_companys").value =
            document.getElementById("id_company").value;
            
            document.getElementById("id_emails").value =
            document.getElementById("id_email").value;
            
            document.getElementById("id_gstins").value =
            document.getElementById("id_gstin").value;
            
            document.getElementById("id_addresss").value =
            document.getElementById("id_address").value;
        } else {
            document.getElementById("same").value = "no";

            document.getElementById("id_phones").value = "";
            id_phones.removeAttribute("disabled")
            
            document.getElementById("id_names").value = "";
            
            document.getElementById("id_companys").value = "";
            
            document.getElementById("id_emails").value = "";
            
            document.getElementById("id_gstins").value = "";
            
            document.getElementById("id_addresss").value = "";
        }
    }
</script>

<script>//add item
    var inp_2 = "{{sales_form.item_2|escapejs}}"
    var errors_2 = "{{sales_form.item_2.errors|escapejs}}"
    var errors_3 = "{{sales_form.item_3.errors|escapejs}}"
    var errors_4 = "{{sales_form.item_4.errors|escapejs}}"

    // var parent_el = document.getElementById("item")
    // plus_btn = document.getElementById("plus_btn")
    var elems = 2;
    function addItem() {
        elem = document.getElementById("item-"+elems)
        inputs = elem.getElementsByTagName("input")
        for (x of inputs) {
            x.classList.add("form-control","form-control-sm")
        }
        elem.style.display = "flex"
        // var row = document.createElement("div")
        // row.setAttribute("class","row")
        // var item = `
        //     <div class="col-sm-6 col-lg-3 mb-2 position-relative">
        //         <label for="id_item_${elems}">Item/Product ${elems}:</label>
        //         <input type="text" name="item_${elems}" class="form-control form-control-sm" required id="id_item_${elems}">
        //     </div>
        
        //     <div class="col-sm-6 col-lg-3 mb-2">
        //         <label for="id_desc_${elems}">Description ${elems}:</label>
        //         <input type="text" name="desc_${elems}" class="form-control form-control-sm" required id="id_desc_${elems}"> 
        //     </div>

        //     <div class="col-sm-6 col-lg-3 mb-2">
        //         <label for="id_qty_${elems}">Quantity ${elems}:</label>
        //         <input type="number" min="1" max="5" name="qty_${elems}" value="1" class="form-control form-control-sm" required id="id_qty_${elems}"> 
        //     </div>
        
        //     <div class="col-sm-6 col-lg-3 mb-2">
        //         <label for="id_rate_${elems}">Price/Rate ${elems}:</label>
        //         <input type="number" min="1" max="5" name="rate_${elems}" value="1" class="form-control form-control-sm" required id="id_rate_${elems}"> 
        //     </div>
        // `;
        // row.innerHTML = item;
        // parent_el.appendChild(row)


        //CREATE ELEMENT METHOD
        //DIV
        // const div = document.createElement("div");
        // div.setAttribute("id","item_"+elems)
        // div.setAttribute("class","col-sm-6 col-lg-3 mb2")
        // parent_el.appendChild(div, plus_btn);

        // var parent_div = document.getElementById("item_"+elems)
        // const item_label = document.createElement("label");
        // const label_text = document.createTextNode("Item "+elems+":");
        // item_label.appendChild(label_text);
        // item_label.setAttribute("for","id_item");
        // parent_div.appendChild(item_label)

        // var inp = document.createElement("input");
        // inp.setAttribute("type","text")
        // inp.setAttribute("name","item_"+elems)
        // inp.setAttribute("id","id_item_"+elems)
        // inp.setAttribute("class","form-control form-control-sm")
        // parent_div.appendChild(inp)


        //INPUT
        //const item_input = document.createElement("input");
        //document.getElementById("item").appendChild(item_label);

        //const input_att_id = document.createAttribute("id");
        //input_att_id.value = "id_item";
        //document.getElementById("item").setAttributeNode(input_att_id);

        elems++; //elems+=1;
    }
</script>

<script>//finalCheck
    finalcheck = document.getElementById("finalcheck")
    id_invoice = document.getElementById("id_invoice_id")
    function finalCheck() {
        if (finalcheck.checked) {
            id_invoice.setAttribute("required","")
        };
    };
</script>

<script>//ajax get request
    {//vars
        var id_name = document.getElementById("id_name")
        var id_phone = document.getElementById("id_phone")
        var id_email = document.getElementById("id_email")
        var id_email = document.getElementById("id_email")
        var id_gstin = document.getElementById("id_gstin")
        var id_address = document.getElementById("id_address")
    }

    function loadDoc() {
        var data = document.getElementById("id_company").value;

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var data = JSON.parse(this.responseText)
                var fields = JSON.parse(this.responseText)[0]["fields"]
                id_name.value = fields["name"];
                id_phone.value = fields["phone"];
                id_email.value = fields["email"];
                id_gstin.value = fields["gstin"];
                id_address.value = fields["address"];
            } else {
                id_name.value = ""
                id_phone.value = ""
                id_email.value = ""
                id_gstin.value = ""
                id_address.value = ""
            }
        };
        xhttp.open("GET", "{% url 'json_response' %}?action=company&company="+data, true);
        xhttp.send();
    }
</script>