{% extends 'base.html' %}

{% block body %}
{% include 'spa_base.html' %}
    <div class="overflow-auto position-relative" id="sales_table">
        <hr class="sticky-left">
        <table class="table table-hover" id="example">
            <thead class="bg-primary text-uppercase text-white">
            <tr>
                <th style="width:50px;" scope="col">#</th>
                <th style="width:200px;" scope="col">date</th>
                <th style="width:200px;" scope="col">order</th>
                <th style="width:300px;" scope="col">company</th>
                <th style="width:300px" scope="col">item</th>
                <th style="width:200px;" scope="col">advance</th>
                <th style="width:150px;" scope="col">dispatch</th>
            </tr>
        </thead>
        <thead id="columnFilters">
            <tr>
                <th style="width:50px;" scope="col">#</th>
                <th style="width:200px;" scope="col">date</th>
                <th style="width:200px;" scope="col">order</th>
                <th style="width:300px;" scope="col">company</th>
                <th style="width:300px" scope="col">item</th>
                <th style="width:200px;" scope="col">advance</th>
                <th style="width:150px;" scope="col">dispatch</th>
            </tr>
        </thead>
            <tbody>
                {% if sales_table %}
                    {% for entry in sales_table %}
                        <tr id="{{entry.id}}" class="{{entry.id}}" onclick="window.location.assign('{% url 'sale_edit' %}?id='+this.classList[0])">
                            <th scope="row">{{forloop.counter}}</th>
                            <td id="date_{{entry.id}}">{{entry.date}}</td>
                            <!--script>
                                document.getElementById("date_{{entry.id}}").innerText = parseInt("{{entry.date|date:"d"}}")+parseInt("{{entry.promise}}");
                            </script-->
                            <td>{{entry.order_id}}</td>
                            <td>{{entry.company}}</td>
                            <td>{{entry.item_1}}</td>
                            <td id="adv_{{entry.id}}" class="text-center">{{entry.receipt_set.count}}</td>
                            <td id="dis_{{entry.id}}" class="text-center">{{entry.promise}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    No Data Currently!!
                {% endif %}
            </tbody>
        </table>
    </div>

    <script>
        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        window.onload = function() {
            var tbody = document.getElementsByTagName("tbody")[0] //parent element
            var tr = tbody.getElementsByTagName("tr");

            for (let x=0; x < tr.length; x++) {
                tstt(tr[x],tr[x].id);
            }
        }

        function tstt() {
            var vars = arguments;
            var date = document.getElementById("date_"+vars[1]);
            var adv = document.getElementById("adv_"+vars[1]);
            var dis = document.getElementById("dis_"+vars[1]);
            var promise_days = parseInt(document.getElementById("dis_"+vars[1]).innerText);
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.responseText) // list of objects receive from json;
                    var advam = 0;

                    for (let fval in data){//adding all receipts amount together of the selected sale
                        obj = data[fval]; //receipts object
                        advam += parseInt(obj["fields"]["amount"]);//amount
                    }

 
                    d = new Date(date.innerText);//Converting element datetext to JS Date Object. //obj["fields"]["date"] NOTE:use this one if you want to show the calculated date only for the entry for which a receipt has made.
                    d.setDate(d.getDate()+promise_days); //adding promise days to the entry date
                    dis.innerText = `${d.getDate()}/${d.getMonth()+1}/${d.getFullYear()}`; //rendering the date in td with id dis_id
                    adv.innerText = advam; //rendering the calculated advance in adv_id element
                    
                    tod = new Date().toLocaleDateString();
                    if (tod == d.toLocaleDateString()) {
                        vars[0].classList.add("bg-danger");
                        vars[0].classList.add("text-white");
                    }
                }
            };
            xhttp.open("GET", "{% url 'json_response' %}?action=adv&id="+vars[1], true);
            xhttp.send();
            console.log(promise_days)
        }
    </script>
{% endblock body %}