{% extends 'base.html' %}

{% block title %}Sale Entry{% endblock title %}

{% block body %}
{% include 'header.html' %}
{% include 'spa_base.html' %}

<form method="post" novalidate autocomplete="off" class="mb-5">
    {% csrf_token %}
    
    <div class="container py-5">
        <div class="row row-cols-3">
            <div class="col mb-2">
                <div class="input-group">
                    <span class="input-group-text">{{form.date.label_tag}}</span>
                    {{form.date}}
                    {{f.date.errors}}
                </div>
            </div>
            
            <div class="col mb-2">
                <div class="input-group">
                    <span class="input-group-text">₹</span>
                    {{form.amount}}
                    {{f.amount.errors}}
                </div>
            </div>
            
            <div class="col mb-2">
                <div class="input-group">
                    <span class="input-group-text">{{form.sale.label_tag}}</span>
                    {{form.sale}}
                    {{f.sale.errors}}
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div class="container" id="receipts_table">
    <hr>
    <table class="table table-hover text-uppercase">
        <thead class="bg-success text-white text-uppercase">
        <tr class="">
            <th scope="col">#</th>
            <th scope="col">date</th>
            <th scope="col">order no.</th>
            <th scope="col">company</th>
        </tr>
        </thead>
        <tbody>
            {% if receipts %}
                {% for receipt in receipts %}
                    <tr id="sale_row" class="{{entry.id}} {% if entry.final == False %}bg-danger{% endif %}" onclick="window.location.assign('{% url 'sale_edit' %}?id='+this.classList[0])"> <!--data-bs-toggle="modal" data-bs-target="#salesEdit"-->
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{receipt.date}}</td>
                        <td>{{receipt.sale.order_id}}</td>
                        <td>{{receipt.sale.company}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                No Receipts Currently!!
            {% endif %}
        </tbody>
    </table>
</div>

<script>//modifying referrer input
    var date = document.getElementById("id_date")
    date.classList.add("form-control", "form-control-sm") //referrer.className += " form-control form-control-sm";
    date.setAttribute("type","date");

    var amount = document.getElementById("id_amount")
    amount.classList.add("form-control", "form-control-sm") //referrer.className += " form-control form-control-sm";
    amount.setAttribute("type","number");
    
    var sale = document.getElementById("id_sale")
    sale.classList.add("form-select", "form-select-sm") //referrer.className += " form-select form-select-sm";
</script>

{% endblock body %}