<div class="footer">
    <div class="column">
        <div class="cheading">products</div>
        <ul>
            <li><a href="/">conveyors</a></li>
            <li><a href="/">rewinders</a></li>
        </ul>
    </div>
    <div class="column">
        <div class="cheading">heading</div>
        <ul>
            <li>conveyors</li>
            <li>rewinders</li>
        </ul>
    </div>
    <div class="column">
        <div class="cheading">heading</div>
        <ul>
            <li>conveyors</li>
            <li>rewinders</li>
        </ul>
    </div>
    <div class="column bgr">
        <div class="cheading">newsletter sign up</div>
        Sign up for exclusive updates, new arrivals & insider only discounts
    </div>
</div>