{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    {% include 'header.html' %}
    {% include 'compo/slider.html' %}

    <section>
        <div class="heading">I’m looking for...</div>
        <div class="flex_center_baseline">
            <div><img src="/static/img/products/conveyor.svg" width="auto" height="130px"/></div>
            <div><img src="/static/img/products/conveyor_modular.svg" width="auto" height="130px"/></div>
        </div>
    </section>

    <hr class="dark">


    <div class="heading">Best Selling</div>
    <div class="container">
        <div class="row col-12 cards">
            <div class="item">1</div>
            <div class="item">2</div>
            <div class="item">3</div>
            <div class="item">4</div>
            <div class="item">5</div>
            <div class="item">6</div>
            <div class="item">7</div>
            <div class="item">8</div>
        </div>
    </div>

    
    {% comment %} <div id="landing">
        <div id="title">under construction...</div>
    </div> {% endcomment %}
    {% include 'footer.html' with p='php' only %}
{% endblock body %}